.BoxList {
  padding: 10px 10px;
  border-radius: 4px;
  margin: 1em auto auto;
  text-align: center;
}

.Box-Container{
  margin: 10px auto;
  width: 400px;
  height: 400px;
  outline: dashed 1px black;
  padding: 10px;
}